{% extends 'index.html.njk' %}

{% block body %}
<h1>Generating...</h1>

<p>
    There once was a {{ color }} {{ noun }} sitting in the Devmountain Lab.
    When {{ YourName }} went to pick it up, it burst into flames in a totally
    {{ adj }} way.
</p>
{% endblock body %}
